<!----------------------------------------------------------------------------------------------------------------------
  -- Layers Control
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div id="layers-btn" class="layers-control map-control pt-2" :class="!!account ? '' : 'no-auth'">
        <BButton variant="outline-light" @click="openLayerModal">
            <FaIcon :icon="[ 'fas', 'plus' ]" fixed-width />
            Layers
        </BButton>
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style scoped lang="scss">
    #layers-btn {
        top: 0;
        right: 94px;

        &.no-auth {
            right: 60px;
        }
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script setup lang="ts">

    import { Map } from 'ol';
    import { useModal } from 'bootstrap-vue-next';
    import { useObservable } from '../../lib/composables/rxjs';

    // Models
    import { Account } from '../../../common/models/account';

    // Managers
    import authMan from '../../lib/managers/auth.js';

    //------------------------------------------------------------------------------------------------------------------
    // Props
    //------------------------------------------------------------------------------------------------------------------

    interface Props
    {
        map : Map;
    }

    const props : Props = withDefaults(defineProps<Props>(), { });

    //------------------------------------------------------------------------------------------------------------------
    // Refs
    //------------------------------------------------------------------------------------------------------------------

    const { show } = useModal('layers-modal');

    const account = useObservable<Account | null>(authMan.account$);

    //------------------------------------------------------------------------------------------------------------------
    // Methods
    //------------------------------------------------------------------------------------------------------------------

    function openLayerModal() : void
    {
        show();
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
