<!----------------------------------------------------------------------------------------------------------------------
  -- toolbarControl.vue
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <BButtonToolbar id="map-toolbar" class="map-control pt-2" key-nav>
        <BButtonGroup>
            <BButton
                v-for="tool in validTools"
                :key="tool.name"
                :variant="setBtnVariant(tool)"
                @click="setTool(tool.name)"
            >
                <FaIcon :icon="tool.icon" />
            </BButton>
        </BButtonGroup>
    </BButtonToolbar>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style scoped lang="scss">
    #map-toolbar {
        left: 54px;

        .btn-outline-primary {
            z-index: 10;
        }

        @media (max-width: 530px) {
            left: 8px;
        }
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script setup lang="ts">
    import { computed, onMounted, watch } from 'vue';
    import { BaseButtonVariant } from 'bootstrap-vue-next';
    import { useObservable } from '../../lib/composables/rxjs.js';
    import { Map } from 'ol';

    // Interfaces
    import { MapTool, MapToolName } from '../../lib/models/tools';

    // Managers
    import toolMan from '../../lib/managers/tool/index.js';

    // Stores
    import accountStore from '../../lib/resource-access/store/account.js';
    import toolStore from '../../lib/resource-access/store/tools.js';
    import olStore from '../../lib/resource-access/store/openlayers.js';

    //------------------------------------------------------------------------------------------------------------------
    // Props
    //------------------------------------------------------------------------------------------------------------------

    interface Props
    {
        map : Map;
        size ?: 'sm' | 'md' | 'lg';
    }

    const props : Props = withDefaults(
        defineProps<Props>(),
        {
            size: 'md',
        }
    );

    //------------------------------------------------------------------------------------------------------------------
    // Refs
    //------------------------------------------------------------------------------------------------------------------

    const currentTool = useObservable(toolStore.current$);
    const tools = useObservable(toolStore.tools$);
    const account = useObservable(accountStore.account$);

    //------------------------------------------------------------------------------------------------------------------
    // Computed
    //------------------------------------------------------------------------------------------------------------------

    const validTools = computed(() =>
    {
        return tools.value.filter((tool) =>
        {
            return !tool.authRequired || (tool.authRequired && account.value);
        });
    });

    //------------------------------------------------------------------------------------------------------------------
    // Methods
    //------------------------------------------------------------------------------------------------------------------

    function setBtnVariant(tool : MapTool) : keyof BaseButtonVariant
    {
        // FIXME: This is stupid, but it works for now.
        return (currentTool.value === tool ? 'outline-primary' : 'outline-light') as unknown as keyof BaseButtonVariant;
    }

    async function setTool(toolName : MapToolName) : Promise<void>
    {
        return toolMan.activateTool(toolName);
    }

    //------------------------------------------------------------------------------------------------------------------
    // Lifecycle Hooks
    //------------------------------------------------------------------------------------------------------------------

    onMounted(() =>
    {
        toolMan.initialize(props.map);
        olStore.setMainMap(props.map);
    });

    //------------------------------------------------------------------------------------------------------------------
    // Watch
    //------------------------------------------------------------------------------------------------------------------

    watch(account, () =>
    {
        if(!account.value && currentTool.value.authRequired)
        {
            toolMan.activateTool('normal');
        }
    });
</script>

<!--------------------------------------------------------------------------------------------------------------------->
