<!----------------------------------------------------------------------------------------------------------------------
  -- Zoom Map Control
  --------------------------------------------------------------------------------------------------------------------->
<template>
    <div class="zoom-control map-control p-2">
        <BButtonGroup vertical>
            <BButton
                variant="outline-light"
                :size="size"
                @click="incrementZoom"
            >
                <FaIcon :icon="[ 'fas', 'plus' ]" />
            </BButton>
            <BButton
                variant="outline-light"
                :size="size"
                @click="decrementZoom"
            >
                <FaIcon :icon="[ 'fas', 'minus' ]" />
            </BButton>
        </BButtonGroup>
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts" setup>

    import { View } from 'ol';

    //------------------------------------------------------------------------------------------------------------------
    // Props
    //------------------------------------------------------------------------------------------------------------------

    interface Props
    {
        view : View;
        size ?: 'sm' | 'md' | 'lg';
    }

    const props : Props = withDefaults(
        defineProps<Props>(),
        {
            size: 'md',
        }
    );

    //------------------------------------------------------------------------------------------------------------------
    // Methods
    //------------------------------------------------------------------------------------------------------------------

    function incrementZoom() : void
    {
        props.view.animate({
            zoom: props.view.getZoom() + 1,
            duration: 250,
        });
    }

    function decrementZoom() : void
    {
        props.view.animate({
            zoom: props.view.getZoom() - 1,
            duration: 250,
        });
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
