<!----------------------------------------------------------------------------------------------------------------------
  -- toolContainer
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <BCard
        v-if="currentTool"
        class="tool-container"
        border-variant="light"
        bg-variant="dark"
        :header-bg-variant="headerBGVariant"
        header-border-variant="light"
    >
        <template #header>
            <h5 class="text-center mb-0">
                {{ currentTool.title }}
            </h5>
        </template>
        <component :is="getToolUI(currentTool.name)">
            <BAlert :model-value="true">
                <b>Missing registered component named '{{ currentTool.name }}'.</b>
                <br>
                This means the developer fucked up. You can't do anything to fix it; it's just broken.
                <br>
                <br>
                Go bug that jackass if you want this fixed.
            </BAlert>
        </component>
    </BCard>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts" setup>
    import toolsStore from '../../lib/resource-access/store/tools.js';
    import { useObservable } from '../../lib/composables/rxjs.js';
    import { BAlert } from 'bootstrap-vue-next';

    // Tool Components
    import MeasureTool from '../tools/measureTool.vue';

    //------------------------------------------------------------------------------------------------------------------
    // Refs
    //------------------------------------------------------------------------------------------------------------------

    const toolUIs = {
        normal: undefined,
        measure: MeasureTool,
        boundary: undefined,
        poi: undefined,
    };

    const currentTool = useObservable(toolsStore.current$);

    // FIXME: This is a hack to get the header types to work.
    const headerBGVariant = 'dark-subtle' as unknown as 'dark';

    //------------------------------------------------------------------------------------------------------------------
    // Methods
    //------------------------------------------------------------------------------------------------------------------

    function getToolUI(toolName : string) : string
    {
        if(toolUIs[toolName] !== undefined)
        {
            return toolUIs[toolName];
        }
        else
        {
            return 'dne';
        }
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
