<!----------------------------------------------------------------------------------------------------------------------
  -- menuControl
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div id="menu-control" class="pt-2 pe-2">
        <BDropdown variant="outline-light" text="Dropdown Button" no-caret>
            <template #button-content>
                <BAvatar v-if="account" class="me-2" :src="account.avatar" size="sm" variant="light" />
                <FaIcon icon="bars" fixed-width />
            </template>
            <template v-if="account">
                <BDropdownText class="text-center text-nowrap" style="width: 260px">
                    <FaIcon :icon="[ 'fad', 'shield-keyhole' ]" />
                    {{ account.name }}
                </BDropdownText>
                <BDropdownText v-if="account.isAdmin">
                    <BButton variant="outline-light" class="d-block w-100">
                        <FaIcon :icon="[ 'fad', 'gear' ]" />
                        Administration
                    </BButton>
                </BDropdownText>
                <BDropdownText>
                    <BButton variant="outline-light" class="d-block w-100">
                        <FaIcon :icon="[ 'fad', 'sliders' ]" />
                        Settings
                    </BButton>
                </BDropdownText>
                <BDropdownText>
                    <div class="d-flex">
                        <div class="w-50 me-2">
                            <BButton variant="outline-light" class="w-100">
                                <FaIcon :icon="[ 'fad', 'life-ring' ]" />
                                Support
                            </BButton>
                        </div>
                        <div class="w-50 mb-2">
                            <BButton variant="outline-light" class="w-100" @click="logout()">
                                <FaIcon :icon="[ 'fad', 'arrow-right-from-bracket' ]" />
                                Log Off
                            </BButton>
                        </div>
                    </div>
                </BDropdownText>
            </template>
            <template v-else>
                <BDropdownItem @click="showAuthModal()">
                    <FaIcon :icon="[ 'fad', 'shield-exclamation' ]" />
                    Authorize
                </BDropdownItem>
            </template>
        </BDropdown>
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    #menu-control
    {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;

        .b-avatar {
            margin-top: -3px;
            margin-bottom: -3px;
        }
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts" setup>
    import { useModal } from 'bootstrap-vue-next';
    import { useObservable } from '../../lib/composables/rxjs.js';

    // Interfaces
    import { Account } from '../../../common/models/account.js';

    // Store
    import accountStore from '../../lib/resource-access/store/account.js';

    // Manager
    import authManager from '../../lib/managers/auth.js';

    //------------------------------------------------------------------------------------------------------------------
    // Refs
    //------------------------------------------------------------------------------------------------------------------

    const account = useObservable<Account | null>(accountStore.account$);
    const { show } = useModal('auth-modal');

    //------------------------------------------------------------------------------------------------------------------
    // Methods
    //------------------------------------------------------------------------------------------------------------------

    function showAuthModal() : void
    {
        show();
    }

    function logout() : void
    {
        authManager.logout();
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
