<!----------------------------------------------------------------------------------------------------------------------
  -- authModal
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <BModal
        id="auth-modal"
        title="Authorization Required"
        header-bg-variant="dark"
        hide-footer
        ok-variant="outline-primary"
        ok-title="Proceed"
        cancel-variant="outline-light"
        cancel-title="Cancel"
        size="lg"
        @ok="onOk"
        @cancel="onCancel"
    >
        <h1 class="text-center">
            <FaIcon :icon="[ 'fad', 'shield-exclamation' ]" class="text-danger" />
            Special Authorization Required
            <FaIcon :icon="[ 'fad', 'shield-exclamation' ]" class="text-danger" />
        </h1>
        <p class="text-center">
            This is a secure system under the purview of the League Military Intelligence Division. Access to this
            system is restricted, and attempts to access it without authorization may be considered an act of Treason
            under the League Code of Military Justice (18 L.U.W. Code § 798).
        </p>

        <h1 class="text-center">
            <FaIcon :icon="[ 'fad', 'octagon-exclamation' ]" size="6x" class="text-danger" />
        </h1>

        <p class="text-center text-muted">
            <small>If you feel you should have access to this information, please contact Directory McKenzie.</small>
        </p>

        <div class="my-5" />
        <p class="text-center">
            <span class="d-block">
                <BButton variant="outline-primary" size="lg" href="/auth/google">
                    <FaIcon :icon="[ 'fad', 'shield-exclamation' ]" />
                    Proceed
                    <FaIcon :icon="[ 'fad', 'shield-exclamation' ]" />
                </BButton>
            </span>
            <BButton variant="link" size="md" class="mt-2" @click="hide()">
                Cancel Authorization Attempt
            </BButton>
            <span class="d-block text-muted">
                <i>
                    <small>(Attempt will still be logged.)</small>
                </i>
            </span>
        </p>
    </BModal>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style scoped lang="scss">
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script setup lang="ts">
    //------------------------------------------------------------------------------------------------------------------
    // Refs
    //------------------------------------------------------------------------------------------------------------------

    import { useModal } from 'bootstrap-vue-next';

    const { hide } = useModal('auth-modal');

    //------------------------------------------------------------------------------------------------------------------
    // Methods
    //------------------------------------------------------------------------------------------------------------------

    function onOk() : void
    {
        console.debug('ok');
    }

    function onCancel() : void
    {
        console.debug('cancel');
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
