<!----------------------------------------------------------------------------------------------------------------------
  -- layersModal
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <BModal
        id="layers-modal"
        title="Edit Layers"
        header-bg-variant="dark"
        ok-variant="outline-primary"
        ok-title="Ok"
        cancel-variant="outline-light"
        cancel-title="Cancel"
        size="lg"
        @shown="onShown"
        @ok="onOk"
        @cancel="onCancel"
    >
        <div class="d-flex">
            <div class="w-50 pe-1">
                <div>
                    <BButton
                        variant="outline-light"
                        class="float-end"
                        size="sm"
                        style="margin-top: -5px"
                        :disabled="layersLoading"
                        @click="loadLayers()"
                    >
                        <FaIcon :icon="[ 'fad', 'sync' ]" />
                    </BButton>
                    <h5>Available Layers</h5>
                </div>
                <BListGroup>
                    <BListGroupItem v-if="layersLoading" class="text-center">
                        <b>Loading...</b>
                        <BProgress animated striped variant="primary" class="mt-2" :max="100" :value="100" />
                    </BListGroupItem>
                    <BListGroupItem v-for="layer in availableLayers" v-else :key="layer.name">
                        <BButton variant="outline-light" size="sm" class="float-end" @click="addLayerToMap(layer)">
                            <FaIcon :icon="[ 'fas', 'plus' ]" />
                        </BButton>
                        <h5 class="mt-1 mb-0">
                            {{ layer.description }}
                        </h5>
                    </BListGroupItem>
                </BListGroup>
            </div>
            <div class="w-50 ps-1">
                <h5>Current Layers</h5>
                <BListGroup>
                    <BListGroupItem v-if="addedLayers.length === 0" class="text-center" style="height: 49px">
                        <span class="text-muted d-inline-block mt-1">No layers currently added.</span>
                    </BListGroupItem>
                    <BListGroupItem v-for="layer in addedLayers" v-else :key="layer.name">
                        <BButton
                            v-if="!isDefaultLayer(layer.name)"
                            variant="outline-light"
                            size="sm"
                            class="float-end ms-2"
                            @click="removeLayerFromMap(layer)"
                        >
                            <FaIcon :icon="[ 'fad', 'trash-can' ]" fixed-width />
                        </BButton>
                        <BButton
                            variant="outline-light"
                            size="sm"
                            class="float-end"
                            @click="toggleVisibility(layer)"
                        >
                            <FaIcon
                                :icon="visibleLayers[layer.name] ? [ 'fad', 'eye-slash' ] : [ 'fad', 'eye' ]"
                                fixed-width
                            />
                        </BButton>
                        <BBadge
                            v-if="isDefaultLayer(layer.name)"
                            variant="dark"
                            class="me-2 mt-1 mb-1 float-end"
                        >
                            Default
                        </BBadge>
                        <h5 class="mt-1 mb-0">
                            {{ layer.description }}
                        </h5>
                    </BListGroupItem>
                </BListGroup>
            </div>
        </div>
    </BModal>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style scoped lang="scss">
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script setup lang="ts">
    import { computed, reactive, ref } from 'vue';
    import { useObservable } from '../../lib/composables/rxjs.js';

    // Managers
    import layerMan from '../../lib/managers/layer.js';

    // Stores
    import layersStore from '../../lib/resource-access/store/layers.js';
    import { Layer } from '../../../common/models/layer.js';

    //------------------------------------------------------------------------------------------------------------------
    // Refs
    //------------------------------------------------------------------------------------------------------------------

    const layersLoading = ref(false);
    const allLayers = useObservable(layersStore.allLayers$);
    const addedLayers = useObservable(layersStore.addedLayers$);

    const visibleLayers = reactive({
    });

    //------------------------------------------------------------------------------------------------------------------
    // Computed
    //------------------------------------------------------------------------------------------------------------------

    const availableLayers = computed(() =>
    {
        return allLayers.value.filter((layer) =>
        {
            return !addedLayers.value.find((addedLayer) => addedLayer.name === layer.name);
        });
    });

    //------------------------------------------------------------------------------------------------------------------
    // Methods
    //------------------------------------------------------------------------------------------------------------------

    function isDefaultLayer(layerName : string) : boolean
    {
        return layerMan.isDefaultLayer(layerName);
    }

    async function loadLayers() : Promise<void>
    {
        layersLoading.value = true;
        await layerMan.list();
        layersLoading.value = false;
    }

    function addLayerToMap(layer : Layer) : void
    {
        layerMan.addLayerToMap(layer);
    }

    function removeLayerFromMap(layer : Layer) : void
    {
        layerMan.removeLayerFromMap(layer);
    }

    function toggleVisibility(layer : Layer) : void
    {
        visibleLayers[layer.name] = layerMan.getVisibility(layer);

        layerMan.toggleVisibility(layer);

        visibleLayers[layer.name] = layerMan.getVisibility(layer);
    }

    function onShown() : void
    {
        loadLayers();

        addedLayers.value.forEach((layer) =>
        {
            visibleLayers[layer.name] = layerMan.getVisibility(layer);
        });
    }

    function onOk() : void
    {
        console.debug('ok');
    }

    function onCancel() : void
    {
        console.debug('cancel');
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
