<!----------------------------------------------------------------------------------------------------------------------
  -- GalaxyMap
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <BCard v-if="loading" id="loading" style="z-index: 10000">
        <div class="inner" />
        <div id="loading-text" class="container">
            System Initializing...
        </div>
    </BCard>
    <OlMap
        ref="mainMap"
        class="map"
        :load-tiles-while-animating="true"
        :load-tiles-while-interacting="true"
        :controls="[]"
        style="height: 100%"
        @rendercomplete="onRenderComplete"
    >
        <OlView
            ref="view"
            :center="center"
            :rotation="rotation"
            :zoom="zoom"
            :projection="projection"
        />
        <OlTileLayer id="gal-map">
            <OlSourceXyz
                :url="galTileUrl"
                :projection="projection"
                :tile-pixel-ratio="tilePixelRatio"
                :min-zoom="0"
                :max-zoom="5"
            />
        </OlTileLayer>

        <!-- OpenLayers Controls -->
        <OlScalelineControl ref="scaleline" min-width="100" max-width="150" />

        <!-- Custom Controls -->
        <div v-if="mainMap && view">
            <ZoomControl id="zoom-ctrl" :view="view.view" />
            <ToolbarControl :map="mainMap.map" />
            <LayersControl :map="mainMap.map" />
        </div>

        <!-- Tool UI Container -->
        <ToolContainer v-if="showToolContainer" id="tool-ui" />
    </OlMap>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    .map {
        background-color: black;
    }

    #zoom-ctrl
    {
        @media (max-width: 530px) {
            display: none;
        }
    }

    #tool-ui {
        position: absolute;
        top: 52px;
        right: 8px;
        width: 450px;
        max-height: calc(100% - 74px);
        z-index: 100;
        opacity: .92;
        transition: opacity .125s ease-in;

        // If the screen is smaller than 450px, make the tool container full width.
        @media (max-width: 530px) {
            width: auto;
            left: 8px;
        }

        &:hover {
            opacity: 1;
        }
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script setup lang="ts">
    import { computed, onMounted, reactive, ref, watch } from 'vue';
    import { useObservable } from '../../lib/composables/rxjs.js';

    // Openlayers
    import { Map, View } from 'ol';

    // Store
    import toolsStore from '../../lib/resource-access/store/tools.js';

    // Components
    import ZoomControl from '../controls/zoomControl.vue';
    import ToolbarControl from '../controls/toolbarControl.vue';
    import ToolContainer from '../containers/toolContainer.vue';
    import LayersControl from '../controls/layersControl.vue';

    // Utils
    import { pxToLy } from '../../lib/utils/unitConversion.js';

    //------------------------------------------------------------------------------------------------------------------
    // Refs
    //------------------------------------------------------------------------------------------------------------------

    const loading = ref(true);
    const mapLoaded = ref(false);
    const componentLoaded = ref(false);

    const zoom = ref(2);
    const rotation = ref(0);
    const center = ref([ 5600 / 2, 5600 / 2 ]);
    const extent = ref([ 0, 0, 5600, 5600 ]);
    const projection = reactive({
        code: 'galaxy-image',
        units: 'pixels',
        extent,
        // Light Years, specific to this map.
        getPointResolution: (res) => pxToLy(res),
    });

    const mainMap = ref<{ map : typeof Map } | null>(null);
    const view = ref<{ view : typeof View } | null>(null);
    const scaleline = ref<{ control : any } | null>(null);

    const currentTool = useObservable(toolsStore.current$);

    //------------------------------------------------------------------------------------------------------------------
    // Computed
    //------------------------------------------------------------------------------------------------------------------

    const showToolContainer = computed(() : boolean =>
    {
        return currentTool.value?.showUI ?? false;
    });

    const tilePixelRatio = computed(() : number =>
    {
        // We only support 1x and 2x for now.
        return window.devicePixelRatio > 1 ? 2 : 1;
    });

    const galTileUrl = computed(() : string =>
    {
        if(window.devicePixelRatio > 1)
        {
            return '/tile/galaxy/{z}/{x}/{y}@2x'
        }

        return '/tile/galaxy/{z}/{x}/{y}';
    });

    //------------------------------------------------------------------------------------------------------------------
    // Methods
    //------------------------------------------------------------------------------------------------------------------

    function fixScaleLineUnits() : void
    {
        if(scaleline.value)
        {
            const el = scaleline.value.control.element;
            const scaleText = el.firstElementChild.innerText;
            el.firstElementChild.innerText = scaleText.replace('km', 'kly').replace('m', 'ly');
        }
    }

    function onRenderComplete() : void
    {
        // This is useful to know if the map's finished rendering or not.
        mapLoaded.value = true;

        // Every time we render, we have to update the units, because OpenLayers kinda sucks sometimes.
        fixScaleLineUnits();
    }

    function checkIfLoaded() : void
    {
        loading.value = !(mapLoaded.value && componentLoaded.value);
    }

    //------------------------------------------------------------------------------------------------------------------
    // Lifecycle Hooks
    //------------------------------------------------------------------------------------------------------------------

    onMounted(() =>
    {
        componentLoaded.value = true;
        checkIfLoaded();
    });

    //------------------------------------------------------------------------------------------------------------------
    // Watchers
    //------------------------------------------------------------------------------------------------------------------

    watch(mapLoaded, checkIfLoaded);

</script>

<!--------------------------------------------------------------------------------------------------------------------->
