<!----------------------------------------------------------------------------------------------------------------------
  -- Main Page
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div id="main-page">
        <!-- UI -->
        <MenuControl />

        <!-- Map -->
        <GalaxyMap />

        <!-- Modals -->
        <AuthModal ref="authModal" />
        <LayersModal ref="layersModal" />
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss">
    #main-page {
        background-color: black;
        height: 100%;
        position: relative;
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts" setup>
    import GalaxyMap from '../components/map/galaxyMap.vue';
    import MenuControl from '../components/ui/menuControl.vue';
    import AuthModal from '../components/modals/authModal.vue';
    import LayersModal from '../components/modals/layersModal.vue';
</script>

<!--------------------------------------------------------------------------------------------------------------------->
