<!----------------------------------------------------------------------------------------------------------------------
  -- Measure Tool
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div class="d-flex flex-row-reverse" />
    <div class="d-flex">
        <BFormGroup
            label-for="speed-input"
            description="Ship speed (multiples of c)"
            class="w-100"
        >
            <template #label>
                <div class="d-flex">
                    Subspace Speed
                    <div class="d-flex ms-auto">
                        <label class="me-2">Cruise</label>
                        <BFormCheckbox
                            v-model="useMaxSpeed"
                            variant="outline-primary"
                            switch
                        >
                            Max
                        </BFormCheckbox>
                    </div>
                </div>
            </template>
            <template #description>
                Subspace speed in multiples of <code>c</code>.
            </template>

            <BInputGroup>
                <BFormInput
                    id="speed-input"
                    v-model="subspaceSpeed"
                    type="number"
                    step="1"
                    min="0"
                    placeholder="35000"
                />
                <template #append>
                    <BInputGroupText>c</BInputGroupText>
                    <BDropdown
                        id="ship-select"
                        text="Select a ship"
                        variant="outline-secondary"
                        teleport-to="#app"
                    >
                        <BDropdownHeader>Ship Classes</BDropdownHeader>
                        <BDropdownItem
                            v-for="ship in shipClasses"
                            :key="ship.name"
                            @click="setSubspaceSpeed(ship, useMaxSpeed)"
                        >
                            {{ ship.name }}
                        </BDropdownItem>
                        <BDropdownHeader>Named Ships</BDropdownHeader>
                        <BDropdownItem
                            v-for="ship in ships"
                            :key="ship.name"
                            @click="setSubspaceSpeed(ship, useMaxSpeed)"
                        >
                            {{ ship.designation }} {{ ship.name }}
                        </BDropdownItem>
                    </BDropdown>
                </template>
            </BInputGroup>
        </BFormGroup>
    </div>
    <hr>
    <div class="d-flex flex-column">
        <div class="text-center">
            <b>Total Distance:</b> {{ displayDistance }}
        </div>
        <div class="text-center">
            <b>ETA:</b> {{ estimatedTime }}
        </div>
    </div>
    <hr>
    <div class="mt-2">
        <BButton
            variant="outline-primary"
            class="w-100"
            :disabled="distance === 0"
            @click="currentTool.clear()"
        >
            <FaIcon :icon="['fad', 'trash-can']" />
            Clear Measurement
        </BButton>
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts" setup>
    import { computed, ref } from 'vue';
    import { useObservable } from '../../lib/composables/rxjs.js';

    // Managers
    import shipMan from '../../lib/managers/ship';

    // Store
    import toolsStore from '../../lib/resource-access/store/tools.js';

    // Tool
    import { MeasureTool } from '../../lib/managers/tool/tools/measure.js';
    import { FontAwesomeIcon as FaIcon } from '@fortawesome/vue-fontawesome';
    import { RFIShip, RFIShipClass } from '../../lib/models/ships';

    // Utils
    import { subspaceTime } from '../../lib/utils/subspace';
    import { formatTime } from '../../lib/utils/unitConversion';

    //------------------------------------------------------------------------------------------------------------------
    // Refs
    //------------------------------------------------------------------------------------------------------------------

    // Hush. Dangerous? Sure. But it's fine.
    const currentTool = toolsStore.current as MeasureTool;

    const subspaceSpeed = ref<number>(0);
    const useMaxSpeed = ref<boolean>(false);

    const distance = useObservable(currentTool.distance$);
    const ships = useObservable(shipMan.ships$);
    const shipClasses = useObservable(shipMan.classes$);

    //------------------------------------------------------------------------------------------------------------------
    // Methods
    //------------------------------------------------------------------------------------------------------------------

    function formatLightYears(value : number) : string
    {
        // List of units with their corresponding threshold values
        const units = [
            { unit: 'ly', threshold: 1 },
            { unit: 'kly', threshold: 1e3 },
            { unit: 'Mly', threshold: 1e6 },
            { unit: 'Gly', threshold: 1e9 },
            { unit: 'Tly', threshold: 1e12 },
        ];

        // Find the appropriate unit to display
        let unitIndex = 0;
        while(unitIndex < units.length - 1 && value >= units[unitIndex + 1].threshold)
        {
            unitIndex++;
        }

        // Calculate the value to display with the selected unit
        const displayValue = value / units[unitIndex].threshold;

        // Format the value with commas and always two decimal points
        const formattedValue = displayValue
            .toFixed(2)
            .replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        // Combine the formatted value with the unit
        return `${ formattedValue } ${ units[unitIndex].unit }`;
    }

    function setSubspaceSpeed(ship : RFIShipClass, max = false) : void
    {
        subspaceSpeed.value = max ? ship.subspaceSpeed.max : ship.subspaceSpeed.cruise;
    }

    //------------------------------------------------------------------------------------------------------------------
    // Computed
    //------------------------------------------------------------------------------------------------------------------

    const displayDistance = computed(() =>
    {
        return formatLightYears(distance.value);
    });

    const estimatedTime = computed(() =>
    {
        if(subspaceSpeed.value === 0)
        {
            return '-';
        }

        return formatTime(subspaceTime(distance.value, subspaceSpeed.value));
    });

</script>

<!--------------------------------------------------------------------------------------------------------------------->
