<!----------------------------------------------------------------------------------------------------------------------
  -- Main App Component
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div id="app">
        <RouterView />
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
  #app {
      height: 100%;
  }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts" setup>
</script>

<!--------------------------------------------------------------------------------------------------------------------->
